{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ article.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ article.author }}</a> <strong>Date:</strong><i>{{ article.date_of_creation }}</i></p> <!-- author detail link not yet defined -->
  <p><strong>Details:</strong> {{ article.article_text }}</p>
  <p><strong>Catagory:</strong> {% for catagory in article.catagory.all %} {{ catagory }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  

  <div style="margin-left:20px;margin-top:20px">
    
  </div>
{% endblock %}